html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 18px;
  background-color: #1e93cc;
}

.main-menu {
  display: inline;
}

.minimage {
  padding-top: 13px;
}

li {
  display: inline-block;
}

.btn {
  border-style: none;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: #f5f0eb;
  font-size: 11pt;
  margin-top: 10px;
}

a {
  color: rgba(255, 255, 255, 0.945);
  text-decoration: none;
}

header {
  background-color: #343434;
  margin-top: -16px;
  padding-left: 50px;
}

.img1 {
  margin-left: 50px;
}

.img2 {
  margin-left: 425px;
  margin-top: -250px;
}

h2 {
  color: rgba(255, 255, 255, 0.945);
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 900;
}

.btn1 {
  font-weight: bold;
  font-size: x-large;
  border-style: solid;
  border-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 500px;
  margin-right: 500px;
  border-width: 2px;
  border-radius: 10px;
  background-color: #E99002;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.recB {
  color: black;
  text-align: center;
  font-size: 16pt;
  border-style: solid;
  border-color: white;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

h3 {
  color: white;
  margin: 50px;
  font-size: 20pt;
  font-weight: 500;
  display: inline;
}

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.paraph1 {
  color: white;
  max-width: 500px;
}

.paraph2 {
  color: white;
  max-width: 500px;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.paraph3 {
  color: white;
  max-width: 500px;
}

.paraph4 {
  color: white;
  max-width: 500px;
}

.titre2 {
  margin-left: 400px;
}

.logos {
  border-style: none;
  background-color: #efefef;
  padding: 20px;
  margin-top: -25px;
  padding-bottom: 40px;
}

.logo {
  margin-left: 150px;
  margin-right: -140px;
}

.logoP {
  margin-left: 500px;
}

.blue {
  color: white;
  text-align: center;
  border-style: solid;
  background-color: blue;
  border-color: blue;
  padding: 20px;
  border-radius: 10px;
  margin-left: 450px;
  width: 150px;
  margin-right: -449px;
  margin-top: -15px;
  width: 200px;
}

.notB {
  color: white;
  text-align: center;
  border-style: solid;
  background-color: orange;
  border-color: orange;
  padding: 20px;
  border-radius: 10px;
  margin-left: 450px;
  width: 150px;
  margin-right: -449px;
  margin-top: -15px;
  width: 200px;
}

.down {
  background-color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.footer {
  background-color: black;
  border-bottom-style: solid;
}

.btnF {
  color: white;
  border-right-style: dotted;
  padding-left: 1px;
  padding-right: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */